<%- include('shared/includes/head', { pageTitle: 'Home' }) %>
<link rel="stylesheet" href="/styles/referenzen.css"> 
<link rel="stylesheet" href="/styles/impressum.css"> 
</head>
<body>
    <%- include('shared/includes/header') %>
    <aside>
        <%- include('shared/includes/datenschutz-details') %>
    </aside>
<%- include('shared/includes/footer') %>
<p id="last-p"> © 2024 - ARIEL DELUXE - FIRST CLASS ENTERTAINMENT - All rights reserved - Website made by Ariel Szabó</p>