<div id="artists">
  <article class="artist-item">
    <img src="/images-raster/Louie-Austen-Raster.png" alt="" />
    <div class="artist-item-content">
      <!-- <h2>Artist</h2> -->
      <p>Referenzen: <br />ORF, Kurier, Kronen Zeitung, Standard, usw.</p>
      <div class="artist-item-actions">
        <a
          class="btn btn-alt"
          href="/epks/Louie-Austen-EPK-Kompakt.pdf"
          target="_blank"
          ><strong>LOUIE AUSTEN</strong></a
        >
      </div>
    </div>
    <!-- <p class="border"></p> -->
  </article>
  <article class="artist-item">
    <img src="/images-raster/Agárdi-Szilvia-Raster.png" alt="" />
    <div class="artist-item-content">
      <!-- <h2>Artist</h2> -->
      <p>
        Referenzen: <br />MTVA, Hungarians "Let's do the festival" 2023
        Winner, usw.
      </p>
      <div class="artist-item-actions">
        <a
          class="btn btn-alt"
          href="/epks/Agardi-Szilvia-EPK-Kompakt-nemet-magyar.pdf"
          target="_blank"
          ><strong>AGÁRDI SZILVIA</strong></a
        >
      </div>
    </div>
    <!-- <p class="border"></p> -->
  </article>
  <article class="artist-item">
    <img src="/images/Mini-und-Claus-Foto.png" alt="" />
    <div class="artist-item-content">
      <!-- <h2>Mini & Claus</h2> -->
      <p>
        Referenzen: <br />ORF2, Kurier TV, Meinbezirk, NÖN, Donauinselfest, usw.
      </p>
      <div class="artist-item-actions">
        <a
          class="btn btn-alt"
          href="/epks/Mini-Claus-EPK-Kompakt.pdf"
          target="_blank"
          ><strong>MINI & CLAUS</strong></a
        >
      </div>
    </div>
    <!-- <p class="border"></p> -->
  </article>
  <article class="artist-item">
    <img src="/images/Grammophon-Jazzband-Foto.png" alt="" />
    <div class="artist-item-content">
      <!-- <h2>Artist</h2> -->
      <p>
        Referenzen: <br />ZDF, RTL, VW, Volksbank, Zeiss AG, <br />Dr. Oetker,
        usw.
      </p>
      <div class="artist-item-actions">
        <a
          class="btn btn-alt"
          href="/epks/Grammophon-Jazzband-V.02-EPK-Kompakt.pdf"
          target="_blank"
          ><strong>GRAMMOPHON JAZZBAND</strong></a
        >
      </div>
    </div>
    <!-- <p class="border"></p> -->
  </article>
  <article class="artist-item">
    <img src="/images/PLUSMUSIC-Foto.png" alt="" />
    <div class="artist-item-content">
      <!-- <h2>Artist</h2> -->
      <p>
        Referenzen: <br />Donauinselfest, Austrian Music Festival 2023, usw.
      </p>
      <div class="artist-item-actions">
        <a
          class="btn btn-alt"
          href="/epks/PLUSMUSIC-EPK-Kompakt.pdf"
          target="_blank"
          ><strong>PLUSMUSIC</strong></a
        >
      </div>
    </div>
    <!-- <p class="border"></p> -->
  </article>
</div>
