<div id="artists">
  <article class="artist-item">
    <a href="/epks/Louie-Austen-EPK-Kompakt.pdf" target="_blank">
      <img src="/images-raster/Louie-Austen-Raster.png" alt="" />
    </a>
    <div class="artist-item-content">
      <p style="margin: 0;">© Foto Neumann</p>
      <p>Vorgekommen in: <br />Kurier, Kronen Zeitung, Standard, <br />usw.</p>
      <div class="artist-item-actions">
        <a
          class="btn btn-alt"
          href="/epks/Louie-Austen-EPK-Kompakt.pdf"
          target="_blank"
          ><strong>LOUIE AUSTEN</strong></a
        >
      </div>
    </div>
  </article>
  <!-- <article class="artist-item">
    <img src="/images-raster/Agárdi-Szilvia-Raster.png" alt="" />
    <div class="artist-item-content">
      <p>
        Referenzen: <br />MTVA, Hungarians <br>"Let's do the festival" 2023
        Winner, usw.
      </p>
      <div class="artist-item-actions">
        <a
          class="btn btn-alt"
          href="/epks/Agardi-Szilvia-EPK-Kompakt-nemet-magyar.pdf"
          target="_blank"
          ><strong>AGÁRDI SZILVIA</strong></a
        >
      </div>
    </div>
  </article> -->
  <article class="artist-item">
    <a href="/epks/Grammophon-Jazzband-V.01-EPK-Kompakt.pdf" target="_blank">
      <img src="/images/Grammophon-Jazzband-Foto.png" alt="" />
    </a>
    <div class="artist-item-content">
      <p style="margin: 0;">© Ingo Stahl</p>
      <p>
        Vorgekommen in: <br />ZDF, RTL, VW, Volksbank, Zeiss AG, <br />Dr.
        Oetker, usw.
      </p>
      <div class="artist-item-actions">
        <a
          class="btn btn-alt"
          href="/epks/Grammophon-Jazzband-V.01-EPK-Kompakt.pdf"
          target="_blank"
          ><strong>Grammophon Jazzband</strong></a
        >
      </div>
    </div>
  </article>
  <article class="artist-item">
    <a href="/epks/Mini-und-Claus-EPK-Kompakt.pdf" target="_blank">
      <img src="/images/Mini-und-Claus-Foto.png" alt="" />
    </a>
    <div class="artist-item-content">
      <p style="margin: 0;"></p>
      <p>
        Vorgekommen in: <br />
        ORF Radiosender, Meinbezirk <br />Kurier TV
      </p>
      <div class="artist-item-actions">
        <a
          class="btn btn-alt"
          href="/epks/Mini-und-Claus-EPK-Kompakt.pdf"
          target="_blank"
          ><strong>Mini & Claus</strong></a
        >
      </div>
    </div>
  </article>
</div>
