<header id="main-header">
  <div>
    <div id="logo">
      <a href="#"><span>ARIEL</span>TAINMENT</a>
    </div>
    <!-- Web Developer Essentials -->
    <p id="slogan">FLEXIBEL & LÖSUNGSORIENTIERT</p>
  </div>
  <nav><%- include('nav-items') %></nav>
  <button id="mobile-menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile-menu">
  <nav><%- include('nav-items') %></nav>
</aside>
