<header id="main-header">
    <div id="logo"><a href="#"><span>ARIEL</span>DELUXE</a></div>
    <!-- Web Developer Essentials -->
    <nav>
        <%- include('nav-items') %>
    </nav>
    <button id="mobile-menu-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>
<aside id="mobile-menu">
    <nav>
        <%- include('nav-items') %>
    </nav>
</aside>