<div id="impressum">
    <!-- <div><img src="/images/Ariel-Foto-kleiner-Rund.png" alt=""></div> -->
    <div id="text-impressum">
        <h2>IMPRESSUM</span></h2>
        <div class="container-impressum">
            <!-- <h3>MINI & CLAUS</h3> -->
            <h3>FIRMENINFO</h3>
            <p>
                Ariel Tamás Szabó<br>
                ARIEL DELUXE - First Class Entertainment<br>
                Ariel Tamás Szabó, Bakk.<br>
                GISA_ZAHL: 36805884<br>
                Obkirchergasse 16/7/6<br>
                1190 Wien<br>
            </p>
        </div>
        <div class="container-impressum">
            <!-- <h3>MINI & CLAUS</h3> -->
            <h3>KONTAKT</h3>
            <p>
                Telefon: +43 699/110 433 85<br>
                Email: arielszabo@outlook.com<br>
                Web: www.arieldeluxe.com<br>
            </p>
        </div>
        <div class="container-impressum">
            <!-- <h3>MINI & CLAUS</h3> -->
            <h3>AUFSICHTSBEHÖRDE</h3>
            <p>
                Gewerbeinformationssystem Austria (GISA)
                <a href="https://www.dsb.gv.at/" target="_blank">DSB</a> 
            </p>
        </div>
        <div class="container-impressum">
            <!-- <h3>MINI & CLAUS</h3> -->
            <h3>EU-STREITSCHLICHTUNG</h3>
            <p>
                Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit:
                <a href="https://ec.europa.eu/consumers/odr/" target="_blank">Hier</a>.
                Unsere E-Mail-Adresse finden Sie oben im Impressum.
            </p>
        </div>
        <div class="container-impressum">
            <!-- <h3>MINI & CLAUS</h3> -->
            <h3>VERBRAUCHERSTREITBEILEGUNG/<br>UNIVERSALSCHLICHTUNGSSTELLE</h3>
            <p>
                Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer
                Verbraucherschlichtungsstelle teilzunehmen.            </p>
        </div>
    </div>
</div>


