<ul class="nav-items">
  <!-- <li><a href="#home"><img src="/images-ariel/Fox-logo.jpeg" style="width: 4rem; padding: 0; object-fit: cover;" alt=""></a></li> -->
  <li><a href="#home">HOME</a></li>
  <li><a href="#artists">KÜNSTLER</a></li>
  <li><a href="#referenzen">ZITATE</a></li>
  <li><a href="#about">MY STORY</a></li>
  <li>
    <a href="#letstalk" id="letstalk-nav-item"><strong>LET'S TALK</strong></a>
  </li>
</ul>
