<ul class="nav-footer-items">
  <li><a href="/impressum-datenschutz/Impressum und Datenschutzerklärung.pdf" target="_blank">IMPRESSUM & DATENSCHUTZ</a></li>
  <!-- <li><a href="/datenschutz">DATENSCHUTZ</a></li> -->
  <!-- <li><a href="#about">MY STORY</a></li>
  <li><a href="#referenzen">ZITATE</a></li>
  <li><a href="#artists">KÜNSTLER</a></li> -->
  <!-- <li>
    <a href="#letstalk" id="letstalk-nav-item"><strong>LET'S TALK</strong></a>
  </li> -->
</ul>
<!-- <ul id="nav-footer-home">
  <li><a href="#home">HOME</a></li>
</ul> -->
