<div id="referenzen">
    <!-- <div><img src="/images/Ariel-Foto-kleiner-Rund.png" alt=""></div> -->
    <div id="text-referenzen">
        <h2>ZITATE</span></h2>
        <div class="container-referenzen">
            <h3>WILLKOMMEN ÖSTERREICH</h3>
            <p >
                "Für <strong>LOUIE AUSTEN</strong> tat sich im Alter von 53 Jahren ein völlig neues Spektrum seines
                künstlerischen Schaffens auf. Der Soundbastler Mario Neugebauer lädt den
                Bar-Sänger zur Zusammenarbeit ein. Das gemeinsame Album „ConseQuences“
                öffnet Austen die Türen in die Wiener Elektronikszene und lässt das Alter seiner
                Fans schlagartig sinken."
                <a href="https://willkommen-oesterreich.tv/sendung/louie-austen-zu-gast-in-willkommen-oesterreich/" target="_blank">Willkommen Österreich</a> 
            </p>
        </div>
        <div class="container-referenzen">
            <h3>MEINBEZIRK</h3>
            <p>
                "Zwei Musiker mit humorvollen Liedern, Ironie und Witz, ein großer Saal, eine hohe Dosis fantastisches Publikum gemixt mit jeder Menge guter Laune ergab eine <strong>GROßARTIGE VERANSTALTUNG</strong>." - über <strong>MINI & CLAUS</strong>
                <a href="https://www.meinbezirk.at/tag/mini-und-claus" target="_blank">Meinbezirk</a> 
            </p>
        </div>
        <!-- <div class="container-referenzen">
            <h3>TIKTOK-DUNA TELEVÍZIÓ</h3>
            <p >
                "<strong>AGÁRDI SZILVIA</strong> erzielte einen riesigen Erfolg mit dem Lied 'Ich möchte mich so sehr bedanken'!" ('Úgy szeretném meghálálni' - ungarisch)
                Übersetzt von: "Óriási sikert aratott Agárdi Szilvia az 'Úgy szeretném meghálálni' c. dallal!" - ungarisch
                <a href="https://www.tiktok.com/@dunahivatalos/video/7196385316247293190" target="_blank">TikTok-Duna Televízió</a> 
            </p>
        </div> -->
        <div class="container-referenzen">
            <h3>5 STAR RATING</h3>
            <p >
                "<strong>GROßARTIGE BAND!!!</strong> Die vier Musiker haben perfekt musiziert und mit dem coolen Styling absolut in das Ambiente gepasst!!! Wunderbar aufeinander abgestimmter Sound, tolle Arrangements und ein ambitioniertes Auftreten haben uns vollends begeistert! Ebenso Klasse Frontfrau!!!
                Ganz lieben Dank für die tolle Musik und die geniale Stimmung!" - über <strong>GRAMMOPHON JAZZBAND</strong>
                (Hochzeit - Feier
                August 2018
                Herrenhaus Borghorst bei Osdorf nördl. Kiel)
            </p>
        </div>
    </div>
</div>