h1 {
  color: var(--color-primary-400);
  /* text-align: right; */
}

form {
  width: 25rem;
  padding: var(--space-6);
  background-color: var(--color-gray-600);
  border-radius: var(--border-radius-medium);
  margin: var(--space-6) auto;
  text-align: center;
}

form a {
  color: var(--color-primary-200);
}

form a:hover,
form a:active {
  color: var(--color-primary-400);
}


