#over-main {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* padding-bottom: 3rem; */
  background-color: back;
  height: 3rem;
}

#over-main p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  background-color: back;
  height: 4rem;
  color: var(--color-gray-100);
}

#main-container-main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: black;
  margin-top: 0;
}

#main-container-main img {
  display: block;
  margin: 0 auto;
  width: 60%;
  object-fit: cover;
}

#text-main {
  margin: 1rem 4rem;
}

#text-main ul {
  list-style: outside;
  width: 100%;
}

#text-main .gold {
  color: var(--color-primary-400);
}

#last-p {
  text-align: center;
  color: rgb(121, 121, 121);
}

@media (min-width: 48rem) {
  #main-container-main {
    flex-direction: row;
  }

  #text-main {
    margin: 3rem 4rem;
  }

  #main-container-main img {
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  #text-main h1 {
    font-size: var(--space-10) ;
  }

  #over-main {
    margin-top: var(--space-8);
    /* height: var(--space-14); */
  }
}
